@import url(./technology.scss);

div.technologies {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    div.technologies_inner_wrapper {
        
        div.technologies_heading {
            width: 90%;
            margin-inline: auto;
            max-width: 900px;

            & h2 {
                font-size: 1.4rem;
                text-align: left;
            }
        }

        div.technologies_container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    div.additional_technologies_wrapper {
        width: 90%;
        max-width: 900px;
        margin-inline: auto;

        & div.additional_technologies_container {
            display: flex;
            margin-inline: auto;
            gap: 2rem;

            & div.additional_tech {
                display: flex;
                flex-direction: row;
                justify-content: center;

                & div.circle {
                    margin-block: auto;
                    margin-right: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: linear-gradient(to right bottom, var(--gradient-primary-color) 10%, var(--gradient-secondary-color));
                }

                & div.add_tech_inner_wrapper {
                    display: flex;
                    width: min-content;
                    text-wrap: nowrap;
                }
            }
        }

        
    }
}