div.technology {
    margin-top: 15px;
    display: flex;
    width: 80%;
    max-width: 800px;
    
    div.technology_inner_wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        div.technology_text {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        
        div.technology_visual {
            display: flex;
            width: 100%;

            & div.experience_bar {
                height: 16px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background-image: linear-gradient(to right, var(--gradient-primary-color), var(--gradient-secondary-color));
            }
        }
    }
}