@import url('./project.scss');

div.projects {
    min-height: 100vh;
    max-width: 1400px;
    display: flex;
    flex-direction: column;    
    padding: 1rem;

    div.projects_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }

    & #projects_heading {
        padding-left: 3rem;
        margin: 0;
        margin-top: 100px;
        margin-bottom: 50px;
        text-align: left;
    }
}

@media screen and (min-width: 769px) {
    div.projects {
        & h2 {
            grid-column-start: 1;
            grid-column-end: -1;
        }
    }
}