div.project {
    margin-inline: auto;
    width: 95%;
    max-width: 320px;
    height: 550px;
    background-image: linear-gradient(to right, var(--gradient-primary-color), var(--gradient-secondary-color));
    position: relative;
    padding: 3px;
    border-radius: 12px;
    display: flex;
    justify-content: center;

    & div.project_inner_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--body-bg-color);
        padding: 2rem;
        border-radius: inherit;

        & div.img_preview {
            width: 100%;

            & img {
                width: 100%;
                border-radius: 3px;
            }
        }

        & div.project_text {

            & h2#title {
                width: 100%;
                line-height: 1.8rem;
                font-size: 1rem;
            }

            & p#description {
                font-size: .9rem;
                
            }

            & p#technologies {
                font-size: .9rem;
                font-style: italic;
            }
        }

        & div.project_actions {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            & a {
                text-decoration: none;
                padding: 15px;
                width: 100%;
                text-align: center;
                font-size: 0.65rem;
                font-weight: 900;
                border-radius: 25px; 
                position: relative;
                transition: all 0.2s ease-in-out;
                
                &:nth-of-type(1) {
                    /*background-image: linear-gradient(to right, var(--gradient-primary-color), var(--gradient-secondary-color));*/
                    background-color: var(--gradient-secondary-color);
                    color: white;
                }

                &:nth-of-type(2) {
                    border: 2px solid white;
                    color: white;
                }

                &:hover {
                    background-color: white;
                    color: var(--gradient-primary-color);
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    div.project {
        margin-inline: initial;
    }
}