@import url('./project.scss');

div.projects {
    min-height: 80vh;
    display: flex;
    flex-direction: column;    
    padding: 1rem;

    h2#projects_heading {
        text-align: center;
    }

    div.projects_wrapper {
        align-self: center;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        align-items: center;

        div.project {
            margin: auto;
        }
    }

    & #projects_heading {
        margin: 0;
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 769px) {
    div.projects {

        div.projects_wrapper {
            gap: unset;
            row-gap: 50px;
            justify-content: space-between;
        }
    }
}