@keyframes animateButton {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

div.home > * {
    color: white;
}

div.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div.home_inner_wrapper {
        width: 85%;
        max-width: 950px;
        height: min-content;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        div.text_content {
            margin-block: 60px;
            display: flex;
            flex-direction: column;

            & > * {
                margin: 0;
            }

            & #hero_heading, #hero_subheading {
                background: linear-gradient(to right, var(--navbar-primary-color) 10%, var(--gradient-secondary-color));
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 1.8rem;
                line-height: 2.5rem;
            }

            & #hero_text {
                margin-top: 20px;
                font-size: 1.1rem;
                font-style: italic;
            }
        }

        & #portfolio_btn {
            z-index: 1;
            margin: auto;
            margin-top: 30px;
            outline: unset;
            border: unset;
            font-size: 1.4rem;
            font-weight: 600;
            position: relative;
            width: 200px;
            height: 60px;
            border-radius: 12px;

            & > span {
                background-clip: text;
                background-image: linear-gradient(to right, var(--navbar-primary-color) 10%, var(--gradient-secondary-color));
                -webkit-text-fill-color: transparent;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                transition: 0.2s ease-in-out;
                background-image: linear-gradient(to right, var(--navbar-primary-color) 10%, var(--gradient-secondary-color));
            }

            &::before {
                position: absolute;
                width: 0;
                height: 100%;
                animation-duration: 0.8s;
                animation-iteration-count: 1;
                animation-fill-mode: both;
                left: 0;
                top: 0;
                z-index: -1;
                content: '';
                border-radius: 12px;
                background-image: linear-gradient(to right, var(--navbar-primary-color) 10%, var(--gradient-secondary-color));
            }

            &:hover {
                cursor: pointer;

                & > span {
                    z-index: 2;
                    background-clip: initial;
                    -webkit-text-fill-color: initial;
                    background-image: unset;
                    color: white;
                }

                &::before {
                    pointer-events: none;
                    z-index: 1;
                    width: 100%;
                    transition: width 0.2s ease-in;
                }

            }

        }

        div.me {
            width: 100%;

            div.photo_wrapper {
                margin: auto;
                width: 250px;
                height: 250px;
                border: 2px dashed white;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: white;

                & > img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    div.home {
        div.home_inner_wrapper {
            padding: 1rem;
            width: 90%;
            display: grid;
            grid-template-columns: 1fr auto;
            justify-content: start;
            gap: unset;

            div.text_content {
                max-width: 550px;
            }
            
            & #portfolio_btn {
                margin: unset;
            }

            div.me {
                margin-left: 30px;
                max-width: 250px;
                align-self: center;
                justify-self: start;

                & div.photo_wrapper {
                    margin: 0;
                    margin-block: auto;
                }
            }
        }
    }
}